.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 70%;
  margin: 0 auto; 
}

.header-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.header-island {
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 7px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.header-island nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header-island nav ul li {
  margin-right: 10px;
}

.header-island nav ul li:last-child {
  margin-right: 0;
}

.header-island nav ul li .nav-link {
  text-decoration: none;
  font-family: 'OPEN SANS', sans-serif;
  font-size: 20px;
  color: #000;;
  padding: 10px;
  border-radius: 3px;
  display: flex;
  text-transform: uppercase;
  margin: 10px;
}

.header-island nav ul li .nav-link:hover {
  background-color: #6b6a6a34;
  justify-content: center;
}

.login-btn {
  background-color: #699ac4;
  color: #fdfdfd;
  border: 1px solid #000;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: 'OPEN SANS', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #3d3d3d; 
  color: #fff; 
  transform: scale(1.05); 
}
