.main-home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sections-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px 0;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.section-icon {
    width: 100px; 
    height: 100px; 
    margin-bottom: 10px;
}

.section p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #007B45; 
}
