.carousel-container {
    width: 100%; /* Adjust the width as needed */
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .carousel .slide img {
    max-height: 600px; /* Adjust the max height as needed */
    object-fit: cover; /* Ensure the image covers the container */
  }
  
  .carousel .legend {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for text */
    color: white;
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
  }

  /* arrow */

  .carousel .arrow {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;
  }
  
  